/* Estilos principais do modal */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    position: relative;
}

.modalTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

/* Estilos do campo de busca */
.formGroup {
    margin-bottom: 20px;
}

.inputCategoria {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 3px solid #8d8c8c;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
    background-color: #f9f9f9;
}

.inputCategoria:focus {
    border-color: #ff9d00;
    outline: none;
}

/* Estilos da lista de veículos */
.veiculosList {
    list-style-type: none;
    padding: 0;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow-x: hidden;
    width: 100%;
    /* height: auto; */
    max-height: 20vh;
    overflow-y: auto;
}

.veiculosHeader {
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr;
    background-color: #f0f0f0;
    padding: 10px;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    text-align: left;
}

.veiculoItem {
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.spanId {
    margin-left: 1rem;
}

.veiculoItem:hover {
    background-color: #f9f9f9;
}

.veiculoItem:last-child {
    border-bottom: none;
}

/* Estilização melhorada para o input radio */
.radioVeiculo {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ff9d00;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease-in-out;
}

.radioVeiculo:checked {
    background-color: #ff9d00;
    border-color: #ff9d00;
}

.radioVeiculo:checked::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
}

.radioVeiculo:hover {
    box-shadow: 0 0 5px rgba(255, 157, 0, 0.5);
    border-color: #ff9d00;
}

/* Grupo de botões */
.buttonGroup {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;

}

.btnSave {
    background-color: #ff9d00;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    grid-area: 1/5/2/6;
}

.btnSave:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.btnSave:hover:not(:disabled) {
    background-color: #e68a00;
}

.btnCancel {
    background-color: #ccc;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    grid-area: 1/4/2/5;
}

.btnCancel:hover {
    background-color: #b3b3b3;
}