/* .carouselWrapper{
    width: 80%;
} */


.carrossel{
    width: 100%;
    height: 100vh;
    /* background-color: url(../../../public/imgCarrossel/img1.jpg); */
}

.carouselWrapper {
    margin: auto; 
    /* background-color: black; */
  }


  
  .employeeCard {
    background-color: #fff;
    width: 100%;
    height: 100%;
    justify-content: center;
  }
  
  .employeeImage {
    /* background-color: black; */
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
    margin-bottom: 15px;
  }

  .carouselWrapper {
    margin: auto; 
    /* background-color: black; */
  }
  
  .carousel .control-next.control-arrow,
  .carousel .control-prev.control-arrow {
    color: #000; /* Cor das setas */
  }

  .carousel.carousel-slider .control-arrow{
    background-color: black;
  }


/* components/CustomCarousel.module.css */

.customPrevArrow {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none; 
  padding: 10px;
  cursor: pointer;
  color: #777;
  z-index: 2;
  font-size: 3rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.customNextArrow {
  position: absolute;
  top: 40%;
  right: 0;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  color: #777;
  z-index: 2;
  font-size: 3rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.customPrevArrow:hover,
.customNextArrow:hover {
  /* background-color: black; */
  color: #ff9d00;
}



@media (max-width: 768px) {
  .customNextArrow, .customPrevArrow {
    margin-top: 4rem;
  }

  .employeeContainer{
    
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}



.testeImg{
    width: 90%;
    height: 100%;
}

/* .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  } */

  .carousel .control-dots .dot {
    background-color: yellow;  /* Cor padrão */
    width: 120px;             /* Largura */
    height: 120px;            /* Altura */
    border-radius: 100%;      /* Deixar em formato de círculo */
    margin: 0 5px;           /* Espaçamento entre os dots */
    opacity: 1;            /* Opacidade */
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  /* Estilo para o dot selecionado */
  .carousel .control-dots .dot.selected {
    background-color: #333;  /* Cor para o dot selecionado */
    opacity: 1;
    transform: scale(1.9);   /* Aumenta um pouco o dot selecionado */
  }




  /* .carouselIndicators {
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.indicator {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.indicator.active {
    background-color: #717171;
} */