.body {
    flex-direction: column;
}

.main {
    display: flex;
    padding: 0 10%;
    flex-direction: column;
}

.line {
    width: 100%;
    height: .125rem;
    background-color: #ff9d00;
    border: none;
    outline: none;
}

.sectionOne,
.sectionThree {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionTwo,
.sectionFour {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.container {
    width: 60%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.image1 {
    width: 40%;
    height: 90%;
    background-color: red;
    /* background: url(../../../../public/imgCarrossel/img2.jpg); */
    /* background-size: cover;
    border-radius: 1.6rem;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.5); */
}

.image2 {
    width: 40%;
    height: 90%;
    background: url(../../../../public/imgCarrossel/img4.jpg);
    border-radius: 1.6rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.image3 {
    width: 40%;
    height: 90%;
    background: url(../../../../public/imgCarrossel/img5.jpg);
    border-radius: 1.6rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.5);
}

.image4 {
    width: 40%;
    height: 90%;
    background: url(../../../../public/imgCarrossel/img2.jpg);
    border-radius: 1.6rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.containerTitle {
    width: 100%;
    height: 30%;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.containerTitle2 {
    width: 100%;
    height: 30%;
    align-items: flex-end;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.containerText {
    width: 100%;
    height: 70%;
    display: flex;
    display: flex;
}

.containerText2 {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: flex-end;
}

.title {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    color: #ff9d00;
    font-size: clamp(2.8rem, 0.1129rem + 4.3871vw, 4.5rem);
    font-weight: 600;
}

.title2 {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #ff9d00;
    font-size: clamp(2.8rem, 0.1129rem + 4.3871vw, 4.5rem);
    font-weight: 600;
}

.hr {
    width: 95%;
    height: .35rem;
    background-color: #ff9d00;
    border: none;
    outline: none;
    margin: 0;
}

.description {
    width: 95%;
    height: 50%;
    text-align: justify;
    font-size: clamp(1rem, 0.8304rem + 0.7143vw, 1.5rem);
    line-height: 2.5rem;
}



@media screen and (max-width: 1080px) {
    .description{
        line-height: 2.1rem;
    }
}