@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 12rem;
  background-color: #000000;
  box-shadow: 0 4px 10px rgba(255, 157, 0, 0.8);
  flex-wrap: wrap;
  border-bottom: 0.3rem solid #ff9d00;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.nav {
  display: flex;
}

.qualqueruma {
  background-color: #ff9d00;
  color: black;
}

.navlist {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.navlist a {
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Centraliza o texto no botões*/
}

.navlist a:hover {
  background-color: #ff9d00;
  color: black;
}

.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  /* Centraliza o icon do menu*/
}

.menuIcon {
  cursor: pointer;
  display: inline-block;
  width: 1.5rem;
  /* Ajuste o tamanho conforme necessário */
  height: 1.7rem;
  /* Ajuste o tamanho conforme necessário */
  /* background-color: blue; */
}

.dropdownmenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f8f9fa;
  padding: 10px 0;
  list-style: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.dropdownmenu a {
  display: block;
  padding: 10px 15px;
  color: #333;
}

.dropdownmenu a:hover {
  background-color: #e9ecef;
}

.dropdown:hover .dropdownmenu {
  display: block;
}

@media (max-width: 768px) {
  .navlist {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .dropdownmenu {
    position: static;
    box-shadow: none;
  }
}

















.main {
  display: flex;
  padding: 0 10%;
  flex-direction: column;
  background-color: #ececec;
}


.section {
  width: 100%;
  height: 100vh;
  /* border: 2px solid blue; */

}

.divider {
  width: 50%;
  height: 2px;
  background-color: #ff9d00; 
  margin: 40px auto;
  position: relative;
  left: 0;
  margin-bottom: 14rem;
}


/* SEÇÃO 1 */

.sectionTitle1 {
  color: #ff9d00;
  font-size: 55px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  border-right: 4px solid #333;
  margin: 2rem 1rem;
  width: 23ch;
  overflow: hidden;
  white-space: nowrap;
  animation: caret .5s step-end infinite alternate,
             type 5s steps(23, end)
}

@keyframes type {
  0% {
    width: 0;
  }

}
@keyframes caret { 
  50% { 
    box-shadow: .6em 0 0 transparent;
  }
}

.sectionContent1 {
  font-size: 25px;
  color: #222;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}








/* SEÇÃO 2 */

/* .sectionHeading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
  color: #333;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  background-color: #fff;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.cardTitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.cardDescription {
  font-size: 1rem;
  color: #666;
} */

.section2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 7rem;
}

.section2Image {
  max-width: 45%;
}

.section2Content {
  max-width: 50%;
  padding: 20px;
}

.section2Title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.section2Description {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.section2ButtonContainer {
  position: relative;
  width: 26%;
}

.section2Button {
  padding: 0.5rem 2.3rem;
  font-size: 1rem;
  background-color: #ff9900;
  color: white;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.section2Button:hover {
  background-color: #cc7a00;
  color: #eeeeee;
}

/* Checkbox que controla a exibição do menu */
.section2MenuCheckbox {
  display: none;
}

.section2DropdownMenu {
  display: none;
  position: absolute;
  top: 1.8rem;
  left: 0;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 200px;
  padding: 10px;
}

.section2ButtonContainer:hover .section2DropdownMenu,
.section2DropdownMenu:hover {
    display: block;
}

/* Exibe o menu quando o checkbox está marcado */
.section2MenuCheckbox:checked + label + .section2DropdownMenu {
  display: block;
}

.section2DropdownLink {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s ease;
}

.section2DropdownLink:last-child {
  border-bottom: none;
}

.section2DropdownLink:hover {
  background-color: #f5f5f5;
}

.section2ButtonContainer:hover .section2DropdownMenu {
  opacity: 1;
}
.section2ButtonContainer:hover .section2DropdownMenu:hover {
  opacity: 1;
}
.section2ButtonContainer:hover .section2DropdownMenu:hover .section2DropdownMenu {
  opacity: 1;
}
.section2DropdownMenu:not(:hover) {
  opacity: 0;
  display: none;
}

/* SEÇÃO 3 */



.sectionHeading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
  color: #333;
}

.employeeContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.employeeCard {
  background-color: #fff;
  padding: 20px;
  height: 27rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.employeeImage {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 15px;
}

.employeeName {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.employeePosition {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #777;
}

.employeeDescription {
  font-size: 1rem;
  color: #666;
}










/* FOOTER */

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background-color: #000;
  border-top: 0.3rem solid #ff9d00;
  /* Borda superior laranja */
}

.footerLogoSocial,
.footerLinks,
.footerContact {
  flex: 1;
  margin-right: 20px;
}

.footerLogoSocial {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footerLogo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}

.footerSocialIcons {
  display: flex;
  gap: 10px;
}

.footerLinks,
.footerContact {
  list-style-type: none;
  padding: 0;
}

.footerHeading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footerLink,
.contactDetail {
  color: #fff;
  text-decoration: none;
  margin-bottom: 8px;
  display: block;
  font-weight: bold;
}

.footerLink:hover,
.footerTerms:hover {
  text-decoration: underline;
  color: #ff9d00;
}

.footerBottom {
  text-align: center;
  padding: 10px;
  background-color: #000;
  color: #fff;
}

.footerTerms {
  color: #ffa500;
  text-decoration: none;
  margin-left: 10px;
}

.footerTerms:hover {
  text-decoration: underline;
}

/* Ajustes para responsividade */
@media (max-width: 768px) {
  .footerContainer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footerLogoSocial,
  .footerLinks,
  .footerContact {
    margin-right: 0;
    margin-bottom: 20px;
  }
}