.container {
    width: 100%;
    height: 80vh;
    /* background-color: #888; */
}

.fundocards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    padding: 0;
    list-style: none;
}

.lista {
    display: grid;
    flex-direction: column;
    grid-template-columns: 40% 1fr;
    grid-template-areas:
        "icone content";
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #cccccc;

}

.iconeCarro {
    display: inline-block;
    width: 70%;
    height: 70%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23ff9d00' d='M21.907 9.641a1.1 1.1 0 0 0-.088-1.05c-.27-.519-2.14-.647-2.056-.033c.034.248.1.416-.206.446a2.4 2.4 0 0 1-.137-.317l-.53-1.627a2.65 2.65 0 0 0-1.282-1.5l-.373-.2A3.9 3.9 0 0 0 15.4 4.9H8.605a3.9 3.9 0 0 0-1.837.457l-.372.2a2.65 2.65 0 0 0-1.282 1.5L4.58 8.682A2.4 2.4 0 0 1 4.444 9c-.308-.03-.241-.2-.207-.446c.084-.614-1.786-.486-2.056.033a1.1 1.1 0 0 0-.088 1.05a2.16 2.16 0 0 0 1.721.287l-1.079 1.317a2.1 2.1 0 0 0-.578 1.459l.029 5.364A1.083 1.083 0 0 0 3.3 19.1h1.644a.5.5 0 0 0 .516-.475v-.021L5.432 17.4h13.142l-.029 1.21a.5.5 0 0 0 .5.5h1.664a1.083 1.083 0 0 0 1.116-1.04l.03-5.364a2.1 2.1 0 0 0-.578-1.459l-1.091-1.324a2.16 2.16 0 0 0 1.721-.282M5.388 8.9a3.18 3.18 0 0 1 3.279-3.07h6.666a3.183 3.183 0 0 1 3.281 3.076v.45a.125.125 0 0 1-.125.124H5.512a.124.124 0 0 1-.124-.124Zm1.393 4.029a.25.25 0 0 1-.205.115h-3.06c-.136 0-.418-.062-.418-.475l.207-1.069c.071-.372.806-.351 1.133-.156L6.7 12.591a.25.25 0 0 1 .081.342zM20.7 11.5l.207 1.073c0 .413-.282.475-.418.475h-3.06a.247.247 0 0 1-.124-.457l2.266-1.247c.318-.195 1.053-.218 1.129.156'/%3E%3C/svg%3E");
}

.icone {
    grid-area: icone;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    grid-area: content;
    /* background-color: rgb(24, 250, 175); */
    display: flex;
    flex-direction: column;
}

.placa {
    color: black;
    opacity: .3;
    text-align: center;
    font-size: 2rem;
    padding: .5rem .5rem;
    border-radius: 50px;
    margin-bottom: 2rem;
}

.marca,
.modelo {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.botoeslink {
    width: 100%;
    align-items: center;
    gap: 1.1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* height: 30%; */
    /* background-color: blue; */
}

.iconeExcluir {
    display: inline-block;
    width: 2em;
    height: 2em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M19 4h-3.5l-1-1h-5l-1 1H5v2h14M6 19a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7H6z'/%3E%3C/svg%3E");
}

.iconeAlterar {
    display: inline-block;
    width: 2.4em;
    height: 2.3em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M10 19.11L12.11 17H7v-2h7v.12L16.12 13H7v-2h10v1.12l1.24-1.23c.48-.48 1.11-.75 1.8-.75c.33 0 .66.07.96.19V5a2 2 0 0 0-2-2H5c-1.11 0-2 .89-2 2v14a2 2 0 0 0 2 2h5zM7 7h10v2H7zm14.7 7.35l-1 1l-2.05-2.05l1-1a.55.55 0 0 1 .77 0l1.28 1.28c.21.21.21.56 0 .77M12 19.94l6.06-6.06l2.05 2.05L14.06 22H12z'/%3E%3C/svg%3E");
}

.botaonovo {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 0 15px;
}

.botaonovo button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
    grid-column: span 1;
}

.botaonovo button:hover {
    background-color: #ff9d00;
    color: #222;
}

.link {
    text-decoration: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.form {
    margin: 20px 0;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px 15px;
  }
  
  /* Labels */
  .label_veiculos {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-family: "Kanit", sans-serif;
  }
  
  /* Inputs */
  .input_veiculos {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #8d8c8c;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
    background-color: #f9f9f9;
  }
  
  /* Grid items */
  .grid {
    display: contents;
  }
  
  .grid_item {
    display: flex;
    flex-direction: column;
  }
  
  /* Configurações de grid para os diferentes campos */
  .grid_codigo,
  .grid_categoria,
  .grid_placa,
  .grid_situacao {
    grid-column: span 2;
  }
  
  .grid_modelo,
  .grid_marca,
  .grid_ano,
  .grid_cor,
  .grid_combustivel,
  .grid_proprietario {
    grid-column: span 3;
  }
  
  .grid_observacoes {
    grid-column: span 10;
  }
  
  /* Estilos para selects e inputs de categorias específicas */
  .input_combustivel,
  .input_cor,
  .input_situacao,
  .input_proprietario,
  .input_modelo {
    flex: 1;
  }
  
  /* Tabelas */
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .th,
  .td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .th {
    background-color: #333;
    color: white;
  }
  
  .td {
    background-color: #fff;
  }
  
  /* Selects */
  .select_veiculos {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #8d8c8c;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
    background-color: #f9f9f9;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M7 10l5 5 5-5H7z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    cursor: pointer;
  }
  
  .select_veiculos:hover {
    border-color: #ff9d00;
  }
  
  .select_veiculos:focus, .input_veiculos:focus {
    border-color: #ff9d00;
    outline: none;
  }
  
  /* Footer do formulário */
  .footer_form {
    position: relative;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 15px;
    padding: 50px 40px 50px 20px;
  }
  
  /* Botão de envio */
  .button_submit {
    padding: 10px 20px;
    background-color: #ff9d00;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
    grid-column: span 1;
    grid-area: 1 / 8 / 2 / 9;
  }
  
  .button_submit:hover {
    background-color: #f39200;
    color: #222;
  }
  
  /* Botão de cancelar */
  .button_cancel {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
    grid-column: span 1;
    grid-area: 1 / 7 / 2 / 8;
  }
  
  .button_cancel:hover {
    background-color: #ff9d00;
    color: #222;
  }
  
  /* Responsividade para telas menores */
  @media only screen and (max-width: 500px) {
    .form {
      background-color: #f9f9f9;
      border-radius: .5rem;
      grid-template-columns: repeat(4, 1fr);
    }
  
    .grid_codigo,
    .grid_categoria,
    .grid_placa,
    .grid_situacao,
    .grid_modelo,
    .grid_marca,
    .grid_ano,
    .grid_cor,
    .grid_combustivel,
    .grid_proprietario,
    .grid_observacoes {
      grid-column: span 4;
    }
  
    .input_veiculos,
    .select_veiculos {
      width: 100%;
    }
  
    .footer_form {
      padding: 20px 20px;
      grid-template-columns: repeat(2, 1fr);
    }
  
    .button_submit {
      grid-area: 1 / 2 / 2 / 3;
    }
  
    .button_cancel {
      grid-area: 1 / 1 / 2 / 2;
    }
  }
  