.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25vh;
  padding: 1rem 10%;
  background-color: #000000;
  /* box-shadow: 0 4px 10px rgba(255, 157, 0, 0.8); */
  flex-wrap: wrap;
}


.footerContainer{
  width: 90%;
  background-color: blue;
  height: 100%;
}

  
  .footerLogoSocial,
  .footerLinks,
  .footerContact {
    flex: 1;
    margin-right: 20px;
  }
  
  .footerLogoSocial {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: red;
    height: 50%;
  }
  
  .footerLogo {
    font-size: 2rem;
    font-weight: bold; 
    color: #fff;

    background-color: violet;
  }
  
  .footerSocialIcons {
    display: flex;
    gap: 10px;
  }
  
  .footerLinks,
  .footerContact {
    list-style-type: none;
    padding: 0;
  }
  
  .footerHeading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .footerLink,
  .contactDetail {
    color: #fff;
    text-decoration: none;
    margin-bottom: 8px;
    display: block;
    font-weight: bold;
  }
  
  .footerLink:hover,
  .footerTerms:hover {
    text-decoration: underline;
    color: #ff9d00;
  }
  
  .footerBottom {
    text-align: center;
    padding: 10px;
    background-color: #000;
    color: #fff;
  }
  
  .footerTerms {
    color: #ffa500;
    text-decoration: none;
    margin-left: 10px;
  }
  
  .footerTerms:hover {
    text-decoration: underline;
  }