@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-Color: rgb(0, 0, 0, 0.8);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    width: 50%;
    height: 30rem;
    background-color: #ffffff;
    margin: auto;
    border-radius: 1.5rem;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    color: aliceblue;
    position: relative;
    box-shadow: 3px 2px 22px 1px #333;
    /* border: 3px solid rgb(160, 160, 160); */
    /* border: 0.25rem solid #999999; */
}

.searchOptions {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-radius: 0.3125rem;
    width: 100%;
    margin: 1rem auto;
    background-color: #e6e5e5;
}

.optionGroup{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: calc(1rem - 10px);
    padding: 0.25rem;
}
.situationGroup {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: calc(1rem - 10px);
    padding: 0.25rem;
}

.optionGroup .radioRow,
.situationGroup .radioRow{
    display: flex;
    align-items: center;
}

.optionGroupTitle {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 1rem;
    color: #000000;
}

.radioContainer {
    display: flex;
}

.radioColumn {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
}

.radioLabel {
    display: flex;
    align-items: center;
    padding: 0.25rem 0;
    color: #222;
    margin-right: 2rem;
}

.radioInput {
    margin-right: 5px;
}

.searchBar {
    display: flex;
    width: 100%;
}

.close {
    display: inline-block;
    width: 1.75rem;
    height: 1.75rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12z'/%3E%3C/svg%3E");
    display: flex;
    background-position: center center;
    cursor: pointer;
    /* position: absolute;
    top: 0.75rem;
    right: 1rem; */
}

.titleModal {
    padding-bottom: 0.5rem;
    width: 100%;
    border-bottom: 2px solid #ff9d00;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titleModal h1 {
    font-size: clamp(1rem, 0.76rem + 1.28vw, 1.88rem);
    font-weight: bold;
    color: #222;
}

.searchInput {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #636262;
    border-radius: 0.3125rem;
    box-sizing: border-box;
    margin-right: 10px;
}

.searchInput:focus {
    border-color: #ff9d00;
    outline: none;
}

.searchButton {
    flex: 1;
    max-width: 20%;
    font-size: 16px;
    background-color: #ff9d00;
    border: none;
    border-radius: 0.3125rem;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    border: 0.15rem solid #f39200;
}

.searchButton:hover {
    background-color: #f39200;
    color: #222;
}

.hr {
    width: 2px;
    height: 100%;
    border: none;
    background-color: #ff9d00;
    margin: auto;
}

/* Estiliza o círculo do radio button personalizado */
.radioCustom {
    display: inline-block;
    width: 1rem; /* Tamanho do círculo externo */
    height: 1rem;
    border-radius: 50%;
    border: 2px solid #ff9d00; /* Borda do círculo ajustada para 1px */
    margin-right: 5px;    /* Espaço entre o círculo e o texto */
    box-sizing: border-box;
    position: relative;    /* Necessário para centralizar o círculo interno */
}

/* Esconde o input de radio original */
.radioInput {
    display: none;    /* Oculta o input de rádio original */
}

/* Estilo aplicado ao span quando o radio button está selecionado */
.radioInput:checked+.radioCustom {
    background-color: #ff9d00;    /* Cor de fundo do círculo quando selecionado */
}

/* Adiciona um pequeno círculo interno para indicar a seleção */
.radioInput:checked+.radioCustom::after {
    content: '';
    display: block;
    width: 50%;    /* Tamanho do círculo interno */
    height: 50%;
    background-color: #ffffff;    /* Cor do círculo interno */
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    /* Centraliza o círculo interno */
}



/* tabela de resultados da consulta de clientes*/

.resultTableContainer {
    display: flex;
    align-items: start;
    padding: 0;
    width: 100%;
    margin-top: 20px;
    border-radius: 0.3125rem;
    height: 60%;
    overflow: auto;
    position: relative;
    
}

.resultTable {
    min-width: 100rem; 
    border-collapse: collapse;
    text-align: left;
    color: #222;
    margin: 0;
   position: relative;
}

.tableHead {
    background-color: #ff9d00;
    color: white;
    width: auto;
    position: sticky; /* Fixa a linha de cabeçalho */
    top: 0;
    z-index: 10;

}


/* .tableRow {
    border-bottom: 1px solid #ddd;  
} */

.tableBody td {
    padding: 0.75rem;
    border-bottom: 1px solid #ddd;
}

.tableHeader {
    padding: 0.5rem 0.75rem;
    background-color: #ff9d00;
    color: #ffffff;
    font-weight: bold;
    text-align: left;
    white-space: nowrap;
    /* Importante para que a borda e a sombra sejam aplicadas corretamente */
    /* Sombra para dar profundidade */

}

.id, .ano, .situacao {
    width: 5rem;
}

.modelo, .email, .observ {
    width: 12em;
}

.placa, .cor, .combustivel, .proprietario {
    width: 7rem;
}

.tableBody {
    background-color: #f5f5f5;
}

.tableBody tr:hover {
    background-color: #c8c8c8;
    
}

.tableBody td {
    padding: 0.75rem;
    border-bottom: 1px solid #ddd;
}


